$labelColor: #666;
$errorColor: #aa2020;

@mixin inputStyle {
  border: 1px solid #9b9b9b;
  border-radius: 2px;
  padding: 6px;
  color: #323232;
  &:focus {
    border-color: #2b6ed2;
    outline: none;
    box-shadow: 0 0 0 1px #2b6ed2;
  }
}

@mixin cancelBtnStyle {
  border: 2px solid #333f48;
  color: #333f48;
  background: #fff;
}

@mixin okBtnStyle {
  color: #fff;
  background: #333f48;
}

@mixin btnDisabled {
  border: none;
  color: #21282e;
  background-color: #f7f8f9;
  cursor: not-allowed;
}

@mixin btnStyle {
  min-width: 200px;
  height: 40px;
  padding: 0 40px;
  border: none;
  border-radius: 2px;
  font-family: Museo-Sans-500,sans-serif;
  font-size: 14px;
}

.input {
  height: 60px;
  &.error {
    input, input:focus {
      border-color: $errorColor;
      box-shadow: none;
    }
  }

  input {
    @include inputStyle;
    
  }
  span {
    font-size: 12px;
    display: block;
    color: #aa2020;
    text-align: left;
    margin: 10px 0 0 16px;
  }
  .group {
    display: flex;
    width: 300px;
    margin: auto;
    .item {
      flex: 1;
      label {
        color: #666;
        text-align: right;
      }
    }
  }
}

.btn {
  button:hover {
    cursor: pointer;
  }
  &.ok button {
    @include okBtnStyle;
  }
  &.cancel button {
    @include cancelBtnStyle;
  }
  button {
    @include btnStyle;
    
    &:focus {
      outline: none;
    }
  }
  &.disabled {
    button {
      @include btnDisabled;
    }
  }
}