$darkTheme: #1e1e1e;
$greyTheme: #252526;
$greyFont: #afafaf;
$errorColor: #ce9178;

$consoleHeight: 150px;

.playground {
  height: 100%;
  position: relative;
  display: flex;
  background-color: $greyTheme;
  text-align: left;
}

.sideBarWrap {
  width: 200px;
  color: $greyFont;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
}

.editorWrap {
  user-select: none;
  width: calc(50% - 105px);
  height: 100%;
  display: flex;
  flex-direction: column;
  .codeWrap {
    height: calc(100% - #{$consoleHeight} - 5px);
    overflow: hidden;
  }
  .consoleSplitter {
    background-color: #ccc;
    height: 5px;
    width: 100%;
    cursor: ns-resize;
  }
  .consoleWrap {
    height: $consoleHeight;
    border-radius: 4px;
    border: 1px solid $greyFont;
    box-sizing: border-box;
    margin: 4px;
    padding: 4px;
    .title {
      color: $greyFont;
      font-weight: 700;
      font-size: 14px;
    }
    .body {
      color: $errorColor;
      word-break: break-word;
    }
  }
}


.hSplitter, .sideBarSplitter {
  background-color: #ccc;
  width: 5px;
  height: 100%;
  cursor: ew-resize;
}

.resultWrap {
  // z-index: -1;
  width: calc(50% - 105px);
  height: 100%;
  iframe {
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
  }
}