.playground {
  height: 100%;
  .editorWrap {
    display: inline-block;
    width: 50%;
    height: 100%;
  }
}

.styleWrap, .codeWrap {
  height: 50%;
}

.resultWrap {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  height: 100%;
  iframe {
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
  }
}